.voting-main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 4%;
}

.voting-heading {
  margin-top: 0px;
  padding-top: 3%;
  margin-bottom: 3%;
}

.card-container {
  width: 200px;
  height: 260px;
  position: relative;
  /* border: 1px solid #ccc; */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-bottom: 20px;
}

.remove-mouse-pointer:hover {
  cursor: not-allowed;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}

.pointer:hover {
  cursor: pointer;
}

.card div {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .front {
  background: red;
}

.card .back {
  background: blue;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  font-size: 15px;
}

.card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.refresh-btn {
  background-color: black;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
}

.refresh-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
}